*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: $white;
    font-family: $font-primary;
    font-size: $base-size;
}

li{
    list-style: none;
}

h2,h3,h4{
    font-weight: 500;
    padding: 15px 0;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

