.map{
    color: $text-dark;
    padding: 60px 0;
    background-color: $lightgray;
    font-size: 14px;
    .box-container{
        display: flex;
        justify-content: space-between;
        a{
            color: $text-dark;
        }
        li{
            margin: 5px 0;
        }
        li:first-child{
            font-size: 18px;
            margin: 20px 0;
        }
    }
}