@mixin btn{
    padding: 5px 20px;
    color: $white;
    background-color: $blue;
    border: 1px solid $blue;
    &:focus{
        outline: none;
    }
    &:hover{
        background-color: $lightblue;
        border: 1px solid $lightblue;
    }
}

.container{
    width: 1100px;
    margin: 0 auto;
}

button {
    &.btn-primary{
        @include btn;
        text-transform: uppercase;
    }
}

//typography
.gray{
    color: $text-gray
}

img{
    max-width: 100%;
}

