//color
$black: #000;
$white: #fff;
$blue: #009cff;
$lightblue: #34b0ff;
$lightgray: #e6e6e6;
$darkgray: #222222;
$text-dark: #333333;
$text-gray:#989898;
$text-light: #fff;


//font
$font-primary: sans-serif;
$base-size: 18px;


