<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- style -->
    <link rel="stylesheet" href="./dist/css/main.css">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <header>
            <div class="container">
                <div class="top">
                    <ul>
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            <a href="#">
                                1-877-582-6735
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-comment-alt"></i>
                            <a href="#">
                                Chat
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-user"></i>
                            <a href="#">
                                Sing in
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-shopping-cart"></i>
                            <a href="#">
                                Cart
                            </a>
                        </li>
                        <li>
                            <select>
                                <option value="english">English</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="menu">
                    <ul>
                        <li class="logo">
                            <img src="./dist/image/logo.png" alt="">
                        </li>
                        <li>
                            Products
                            <i class="fas fa-chevron-down"></i>
                        </li>
                        <li>
                            Breshes
                            <i class="fas fa-chevron-down"></i>
                        </li>
                        <li>
                            Wacom Tablets
                        </li>
                        <li>
                            Special Offers
                        </li>
                        <li>
                            Free trials
                        </li>
                        <li>
                            Business
                        </li>
                        <li>
                            Support
                            <i class="fas fa-chevron-down"></i>
                        </li>
                        <li>
                            Learning
                            <i class="fas fa-chevron-down"></i>
                        </li>

                    </ul>

                </div>
            </div>


        </header>

        <main>
            <!-- hero -->
            <div class="hero">
                <div class="container">
                    <!-- left -->
                    <div class="left">
                        <h3>
                            Painter essential 7 (Windows/Mac)
                        </h3>
                        <h4>
                            Painting software for beginners
                        </h4>
                        <ul>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                User-friendly interface
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                Al-based photo painting
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                Inndustry-acclaimed brushes 
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                Incredible speed
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                Built-in learning
                            </li>
                        </ul>
                        <div class="download">
                            <div class="text">
                                <div>DOWNLOAD TRIAL</div>
                                <div>For Windows/Mac</div>
                            </div>
                            <div class="icon">
                                <i class="fas fa-download"></i>
                            </div>
                        </div>
                    </div>
                    <!-- right -->
                    <div class="right">
                        <h2>
                            $49.99
                        </h2>
                        <div class="gray">DOWLOAD</div>
                        <button class="btn-primary">buy now</button>
                        <div class="offert">
                            <h4>LIMITED-TIME OFFER</h4> 
                            <p>FREE Animations Essentials Brush Pack ($19.99 value)</p>
                            <a href="#">Learn More</a>
                        </div>
                        <div class="day">
                            <img src="./image/30day.png" alt="30-day">
                        </div>
                    </div>

                    <!-- name -->
                    <div class="name">
                        Brandon McDonald
                    </div>
                </div>
            </div>

            <!-- second menu -->
            <div class="menu second-menu">
                <div class="container">
                    <ul>
                        <li>
                            overview
                        </li>
                        <li>
                            features
                        </li>
                        <li>
                            compare
                        </li>
                        <li>
                            tech specs
                        </li>
                        <li>
                            gallery
                        </li>
                        <li>
                            learning
                        </li>
                    </ul>
                </div>
            </div>

            <!-- intro -->
            <div class="intro">
                <div class="conatiner">
                    <div class="top">
                        <h2>
                            The ideal painting software for beginners
                        </h2>
                        <p>Start your creative journey with Painter® Essentials™ 7, the best paint program for beginners to explore and expand artistic curiosity using impressive, easy-to-learn tools.</p>
                        <div class="guide">
                            <i class="far fa-file-pdf"></i>
                        <a href="#">Quick Start Guide (PDF)</a>
                    </div>
                    <div class="example">
                        <div class="image">
                            <img src="./image/intro-screen.png" alt="intro">
                        </div>
                        <div class="play">
                            <i class="fas fa-play"></i>
                        </div>

                    </div>
                    </div>
                </div>

            </div>

            <!-- intelligence -->
            <div class="intelligence container">
                <h2>
                    Distinctive Artificial Intelligence based photo painting
                </h2>
                <p>
                    Produce incredible photo art with ease by converting your favorite photos into paintings using neural networking and the strength of Painter’s brush engine! Choose from an impressive range of AI styles for photo painting, including Bold Watercolor, Colored Pencil, Colorful Dabs, Impressionist, Smooth Acrylic, Van Gogh, Watercolor Portrait, and Charcoal Drawing.
                </p>
                <div class="slider">
                    <div class="arrow left">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="arrow right">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <img src="./image/gufo.jpg" alt="gufo">
                </div>
            </div>

            <!-- attachment -->
            <div class="attachment one"></div>

            <!-- flexible -->
            <div class="flexible">
                <div class="container">
                    <h2>
                        Flexible photo painting tools
                    </h2>
                    <p>
                        Open your image and the painting choice is yours. Auto-Paint, in one click, with AI, or SmartStroke™ technology that rapidly produces stunning results. Clone paint by dipping any brush you like directly into the photo, or trace by turning on tracing paper and selecting a brush and color while using the image as your guide.
                    </p>
                    <div class="example">
                        <div class="image">
                            <img src="./image/flexible.jpg" alt="intro">
                        </div>
                        <div class="second">
                            <div class="canvas">
                                <div class="text">
                                    <h3>
                                        Industry-acclaimed brushes
                                    </h3>
                                    <p>
                                        Create with artist-trusted brushes. Every brush in Essentials was custom selected for new digital artists from our professional Painter art studio so that you can comfortably ease into your digital art experience. 
                                    </p>
                                </div>
                                <div class="image">
                                    <img src="./image/pillar-canvas.jpg" alt="canvas">
                                </div>

                            </div>
                            <div class="brushes">
                                <div class="image">
                                    <img src="./image/pillar-brushes.jpg" alt="brushes">
                                </div>
                                <div class="text">
                                    <h3>
                                        Experiment with blank canvas painting
                                    </h3>
                                    <p>
                                        Immerse yourself in an intriguing collection of realistic brushes and canvas textures that respond to your every move when using a pressure-sensitive drawing tablet. Dry, wet, springy, speckled, spattered, glowing, gooey, patterned media is at the ready, allowing you to bring your wildest ideas to life.
                                    </p>
                                </div>

                            </div>


                        </div>

                    </div>

        

                </div>

            </div>

            <!-- attachment -->
            <div class="attachment two"></div>

            <!-- tools -->
            <div class="tools">
                <h2>
                    Tools and effects to inspire you 
                </h2>
                <div class="album">
                    <div class="image">
                        <img src="./image/mirror.jpg" alt="mirror">
                        <h3>Mirror</h3>
                    </div>
                    <div class="image">
                        <img src="./image/navigator.jpg" alt="mirror">
                        <h3>Navigator</h3>
                    </div>
                    <div class="image">
                        <img src="./image/kaleidoscope.jpg" alt="mirror">
                        <h3>Kaleidoscope</h3>
                    </div>
                    <div class="image">
                        <img src="./image/woodcut.jpg" alt="mirror">
                        <h3>Woodcut</h3>
                    </div>
                    <div class="image">
                        <img src="./image/apply-lighting.jpg" alt="mirror">
                        <h3>Apply Lighting</h3>
                    </div>
                </div>
            </div>

            <!-- brushpacks -->
            <div class="brushpacks">
                <div class="box">
                    <h3>
                        Additional brush packs
                    </h3>
                    <p>
                        Browse our outrageously creative brush packs to enhance any kind of painting. Simplify your workflow with the perfect <a href="#">brush pack</a>  solution.
                    </p>
                </div>
                <div class="box">
                    <h3>
                        Explore our Learning Portal
                    </h3>
                    <p>
                        Find just what you need to succeed! Tons of useful <a href="#">tutorial videos</a>  await you in our Discovery Center. You can also <a href="#">share artwork</a>, benefit from <a href="#">tips</a>, register for <a href="#">webinars</a>  and enter <a href="#">contests</a>.
                    </p>
                </div>
            </div>

            <!-- map -->
            <div class="map">
                <div class="container box-container">
                    <div v-for="section in map" class="box">
                        <ul>
                            <li>
                                {{section.section}}
                            </li>
                            <li v-for="link in section.element">
                                <a :href="link.path">
                                    {{ link.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="social">
                    <ul>
                        <li class="insta">
                            <i class="fab fa-instagram"></i>
                        </li>
                        <li class="fac">
                            <i class="fab fa-facebook-f"></i>
                        </li>
                        <li class="twit">
                            <i class="fab fa-twitter"></i>
                        </li>
                        <li class="yout">
                            <i class="fab fa-youtube"></i>
                        </li>
                        <li class="pint">
                            <i class="fab fa-pinterest-p"></i>
                        </li>
                        <li class="blog">
                            <i class="fas fa-rss"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </main>

        <footer>
            <div class="container footer">
                <div class="left">
                    <img src="./image/corelAdvantage.png" alt="corel">
                    <img src="./image/logo-bbb.png" alt="bbb">
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                        <li>
                            <a href="#">Privacy</a>
                        </li>
                        <li>
                            <a href="#">Cookies</a>
                        </li>
                        <li>
                            Copyright &copy 2020 Corel Company. All right reserve.
                        </li>

                    </ul>
                </div>
            </div>
        </footer>
    </div>



    <script src="./dist/js/main.js"></script>
</body>
</html>